* {
  margin: 0
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo-container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.photo {
  margin: 30px 10px;
  position: relative;
  transition: all .3s ease-in-out;
}

.container {
  margin: auto
}